/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/reset.h>
#include "helper.h"
#include "symbols.h"
#include "keypos_42keys.h"
#include "keynames.h"

&led_strip {
    chain-length = <27>;
};

ZMK_BEHAVIOR(qlt, hold_tap,
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    bindings = <&mo>, <&kp>;
)

ZMK_BEHAVIOR(D_LA, mod_morph,
    bindings = <&kp D>, <&kp LAT>;
    mods = <(MOD_LCTL)>;
)

ZMK_BEHAVIOR(F_LS, mod_morph,
    bindings = <&kp F>, <&kp LCM>;
    mods = <(MOD_LCTL)>;
)

ZMK_BEHAVIOR(J_RS, mod_morph,
    bindings = <&kp J>, <&kp RCM>;
    mods = <(MOD_RCTL)>;
)

ZMK_BEHAVIOR(K_RA, mod_morph,
    bindings = <&kp K>, <&kp RAT>;
    mods = <(MOD_RCTL)>;
)

ZMK_LAYER(typing_layer,
// ╭───────────┬───────┬───────┬───────┬───────┬───────╮   ╭───────┬───────┬───────┬───────┬───────┬───────╮
        _x_      &kp Q   &kp W   &kp E   &kp R   &kp T       &kp Y   &kp U   &kp I   &kp O   &kp P    _x_ 
// ├───────────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
    &mt LSF CPS  &kp A   &kp S   &D_LA   &F_LS   &kp G       &kp H   &J_RS   &K_RA   &kp L  &kp SMI &kp RSF  
// ├───────────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
      &kp LCT    &kp Z   &kp X   &kp C   &kp V   &kp B       &kp N   &kp M  &kp CMM &kp DOT &kp FSL &kp RCT
// ╰───────────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────╯
                &qlt SYST TAB &lt SMBL BSP &lt NUMB ESC     &lt NAVG RET &kp BLK &qlt SYST DEL 
//                             ╰───────┴───────┴───────╯   ╰───────┴───────┴───────╯
)

ZMK_LAYER(num_layer,
// ╭─────┬───────┬───────┬───────┬───────┬───────╮   ╭───────┬───────┬───────┬───────┬───────┬───────╮
     ___    ___     ___     ___     ___     ___         _x_    &kp N7  &kp N8  &kp N9   _x_     _x_  
// ├─────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
     ___    ___     ___     ___     ___     ___        &kp N0  &kp N4  &kp N5  &kp N6   _x_     ___  
// ├─────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
     ___    ___     ___     ___     ___     ___         _x_    &kp N1  &kp N2  &kp N3   _x_     _x_  
// ╰─────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────╯
                            _x_     _x_     _x_       &kp RET &kp BLK &kp BSP  
//                       ╰───────┴───────┴───────╯   ╰───────┴───────┴───────╯
)

ZMK_LAYER(symbol_layer,
// ╭───────┬───────┬───────┬───────┬───────┬───────╮   ╭───────┬───────┬───────┬───────┬───────┬───────╮
      ___   &kp XCL &kp AT  &kp HSH &kp DLR &kp PCT     &kp AMP &kp AST &kp LPR &kp RPR &kp CRT   _x_ 
// ├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
      ___     ___     ___     ___     ___     ___       &kp SQT &kp EQU &kp LBK &kp RBK &kp MNS   _x_    
// ├───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
      ___     ___     ___     ___     ___     ___       &kp GRV &kp FSL &kp BSL   _x_     _x_     _x_  
// ╰───────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────╯
                              _x_     _x_     _x_       &kp RET &kp BLK &kp BSP
//                         ╰───────┴───────┴───────╯   ╰───────┴───────┴───────╯
)
ZMK_LAYER(nav_layer,
// ╭─────┬───────┬───────┬───────┬───────┬───────╮   ╭───────┬───────┬───────┬───────┬───────┬───────╮
     _x_    ___     ___     ___     ___     ___         ___     ___     ___     ___     ___     _x_  
// ├─────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
     ___    ___     ___     ___     ___     ___         ___     ___     ___     ___     ___     ___  
// ├─────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
     _x_    ___   &kp LFT &kp DWN &kp UP  &kp RIT       ___     ___     ___     ___     ___     _x_  
// ╰─────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────╯
                            _x_     _x_     _x_         _x_     _x_     _x_ 
//                       ╰───────┴───────┴───────╯   ╰───────┴───────┴───────╯
)


ZMK_LAYER(func_layer,
// ╭─────┬───────┬───────┬───────┬───────┬───────╮   ╭───────┬───────┬───────┬───────┬───────┬───────╮
     _x_    _x_   &kp F7  &kp F8  &kp F9  &kp F12       ___     ___     ___     ___     ___     _x_  
// ├─────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
     ___    _x_   &kp F4  &kp F5  &kp F6  &kp F11       ___     ___     ___     ___     ___     ___  
// ├─────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────┤
     _x_    _x_   &kp F1  &kp F2  &kp F3  &kp F10       ___     ___     ___     ___     ___     _x_  
// ╰─────┼───────┼───────┼───────┼───────┼───────┤   ├───────┼───────┼───────┼───────┼───────┼───────╯
                            _x_     _x_     _x_         _x_     _x_     _x_ 
//                       ╰───────┴───────┴───────╯   ╰───────┴───────┴───────╯
)

ZMK_LAYER(system_layer,
  // ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮   ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
        &bt BT_CLR       &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 3     &bt BT_SEL 4            &none            &none            &none            &none            &none           &none
  // ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
           &none            &none            &none             &none           &none            &none                &none            &none            &none            &none            &none         &sys_reset
  // ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
         &sys_reset         &none            &none       &rgb_ug RGB_EFF &ext_power EP_TOG   &bootloader          &bootloader         &none            &none            &none            &none          &to ALPH
  // ╰────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────╯
														                             &rgb_ug RGB_TOG     &bl BL_TOG         &none                &none            &none            &none     
  //                                                    ╰────────────────┴────────────────┴────────────────╯   ╰────────────────┴────────────────┴────────────────╯
)


